*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: odin-font;
    src: url(./assets/fonts/Norse-Bold.otf);
}

body{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    font-family: var(--system-ui);
}

.img-wrapper{
    background-image: url(./assets/images/sidebar\ image.jpg);
    background-size: cover;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
}

.form-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    flex-basis: 500px;
}

.title-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 6rem;
    font-family: odin-font, var(--system-ui);
    background: rgba(0, 0, 0, 0.342);
    margin-top: max(calc(20vw - 100px), 0px);
}

.img-wrapper p{
    text-align: center;
    margin-top: auto;
}

p a{
    color: white;
}

.title-wrapper img{
    max-width:100px;
}

.warnings *{
    margin-top: 20px;
    padding-left: 30px;
}

.form{
    padding: 30px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 20px black;
}

.form-inner-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    flex: 1;
}

.col > * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 20px;
    margin-right: 20px;
}

label{
    white-space: nowrap;
    font-size: 0.7rem;
}

input{
    padding: 5px;
    border: 2px solid silver;
    border-radius: 5px;
    width: 100%;
    min-width: 250px;
}

input:focus{
    outline: none;
    border: 2px solid #6e99f0;
}

input:invalid{
    border: 2px solid red;
}

button{
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 700;
    background: #6e99f0;
    cursor: pointer;
    margin: 30px 30px;
    color: white;
}

button:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.already{
    margin-top: -40px;
    margin-left: 30px;
}

.already a{
    color: #6e99f0;
    font-weight: bold;
    text-decoration: none;
}